/* Style reset starts */

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove (inner) paddings */
body,
ul,
ol {
  padding: 0;
}

/* remove (outer) margins */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* defaul settings for body */
body, html {
  line-height: 1.5;
  min-height: 100vh;
}

/* remove default styles for ul and ol */
ul,
ol {
  /* line-height: 1; */
  list-style: none;
}

/* simplify img managing */
img {
  display: block;
  max-width: 100%;
}

/* point a clear periodicity to an article in the flow*/
article > * + * {
  margin-top: 1em;
}

/* inherited fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Style reset ends */

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
} 